.vitrine {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 68.4px - 2 * 60px);
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;

    &_nav {
        display: flex;
        justify-content: space-between;
    }

    &_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (max-width: 480px) {
    .vitrine_nav {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        gap: 30px;
    }
}
