.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 126.782px);
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    font-family: "Roboto";
    font-weight: 500;

    h1 {
        font-size: 50px;
        text-align: center;
    }
}
